/*-------------------------------------------------General-------------------------------------------------*/
p,
body {
  font-family: Arial;
}

.flex {
  display: flex;
}

/*-------------------------------------------------Header-------------------------------------------------*/

header {
  height: 90vh;
  background-color: blueviolet;
  background-image: url("../assets/background\ 1.svg");
}

/*-------------------------------------------------Navigation-------------------------------------------------*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  height: 10vh;
}

.logo-txt {
  font-size: 1rem;
  font-weight: bold;
}

.nav-2 {
  gap: 1.5rem;
}

.nav-pages {
  font-size: 1rem;
  text-decoration: none;
}

.subscribe-btn {
  text-decoration: none;
  background-color: aquamarine;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
/*-------------------------------------------------Hero Header-------------------------------------------------*/

.hero-txt {
  height: 100%;
  justify-content: center;
}

.hero-1,
.hero-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.hero-1 {
  padding: 12rem 3rem;
  gap: 1rem;
}

.hero-txt-1 {
  font-size: 3rem;
}

/*-------------------------------------------------Main Content-------------------------------------------------*/

/*-------------------------------------------------Footer-------------------------------------------------*/



#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(40, 39, 39);
  display: grid;
  place-items: center;
}

.loader {
  width: 200px;
  height: 200px;
  position: relative;
}

.backdrop {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 0 #e73b3b;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  animation: spin .5s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  width: 100%;
  height: 100%;
  text
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  font-size: 2rem;
}